.onglet, .onglets, .navOnglet, .onglets li{
	margin:0;
	padding: 0;
}
.onglet{
	list-style:none;
	padding:10px;
	background-color: gray;
	
	background-color: #cfd8dc;
}
.onglet:hover{
	background-color: white;
}
.onglet a{
	background-color: #cfd8dc;
}
.onglet a:nth-child(1){
	margin-left: 1vw;
	padding:0.8vw 1.2vw;
}
.onglet a:nth-child(2){
	padding:0.8vw 1.2vw;
}
.onglet a:nth-child(3){
	padding:0.8vw 1.2vw;
}
.onglet a:nth-child(4){
	padding:0.8vw 1.2vw;
}
.onglets a{
	text-decoration: none;
	padding: 0px;
	margin: 0;
	float:left;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}
.onglet a:hover{
	text-decoration: none;
	background-color: white;
}
.contenu{
	clear:both;
	text-align: center;
	padding:15px;
	background-color: rgb(255, 255, 255);
	margin-top:5vh;
	margin-bottom:30px;
}
.tab-content{
	display:none;
}
.tab-active{
	display:block;
}
.active a{
	color: gray;
}
.disparait{
	opacity:0;
	transition: opacity 1s;
}
.apparait{
	opacity:1;
	transition: opacity 1s;
}